.flex-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-box-height {
    display: flex;
    height: 150px;
    background-color: burlywood;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-box-height>p{
    margin: 0;
    padding: 5px;
    background-color: aliceblue;
}

.flex-box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box-height-wrap {
    display: flex;
    min-height: 150px;
    background-color: burlywood;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.flex-box-item {
    display: flex;
    height: 150px;
    background-color: burlywood;
    justify-content: space-between;
}
.flex-box-item>p:nth-child(1) {
    align-self: center;
}
.flex-box-item>p:nth-child(2) {
    align-self: flex-end;
}