.my-box {
    width: 150px;
    height: 150px;
    background-color: orange;
}

.trans {
    transform: translate(10px, -10px);
}

.rotate {
    transform: rotate(30deg);
}

.transform {
    transform: translate(100px ,0)
                scale(0.8) skewX(20deg) ;
}

.transform-3d {
    transform: rotateX(60deg) rotateY(30deg) 
                translate3d(0,0,-20px);
}

/* 전환이 될 방법을 알려줘야한다(hover 등)*/
.transition:hover {
    background-color: red;
    transition: background-color 1s;
}
.transition {
    transition: background-color 0.5s;
}

.transform-transition:hover {
    transform: translate(100px,0) rotate(90deg);
    width: 200px;
    transition: all 1s;
    transition-delay: 0.5s;
}
.transform-transition {
    transition: transform 1s, width 1s;
}

.linear-transition:hover {
    transform: rotate(90deg);
    transition: all 1s;
    transition-timing-function: linear;
}